<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Symfony & table de pythagore</title>
</head>
<body>
<h1>Baran Ramazanbeyoglu</h1>
<div>
    {{ tableHtml|raw }}
</div>
</body>
</html>

